nav {
	margin: 27px auto 0;

	position: relative;
	width: 380px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 160px;
}
a:nth-child(3) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-services, a:nth-child(2):hover~.animation {
	width: 160px;
	left: 100px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(3):hover~.animation {
	width: 120px;
	left: 260px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}

.nba{
	color : white;
	font-family: 'Open Sans', sans-serif;
	font-size: medium;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 3rem;
	margin-left: 5em;
	flex-wrap: wrap;
}
